[submodule "themes/prologue"]
	path = themes/prologue
	url = https://github.com/sethmacleod/prologue.git
[submodule "acemouty.github.io"]
	path = acemouty.github.io
	url = git@github.com:AceMouty/acemouty.github.io.git
